<h2 class="page-header">报警设置</h2>

<form class="form-horizontal" role="form">
    <div class="form-group">
        <div class="row">
            <h4 class="panel-body"><span class="glyphicon glyphicon-cog">设置监控选项</span></h4>

            <div>
                <p class="panel-body">
                    <label class="control-label">监控频率：</label>
                    <label for="1"> <input type="button" name="warnButton" class="btn btn-default " value="15分钟"
                                           id="1"></label>
                    <label for="2"> <input type="button" name="warnButton" class="btn btn-default" value="20分钟"
                                           id="2"></label>
                    <label for="3"> <input type="button" name="warnButton" class="btn btn-default" value="30分钟"
                                           id="3"></label>
                    <label for="4"> <input type="button" name="warnButton" class="btn btn-default" value="60分钟"
                                           id="4"></label>
                </p>
            </div>


            <div>
                <p class="panel-body">
                    <label class="control-label">连续告警：</label>
                    <label for="5"> <input type="button" name="warnButton1" class="btn btn-default " value="无"
                                           id="5"></label>
                    <label for="6"><input type="button" name="warnButton1" class="btn btn-default" value="15分钟"
                                          id="6"></label>
                    <label for="7"><input type="button" name="warnButton1" class="btn btn-default" value="20分钟"
                                          id="7"></label>
                    <label for="8"><input type="button" name="warnButton1" class="btn btn-default" value="30分钟"
                                          id="8"></label>
                    <label for="9"> <input type="button" name="warnButton1" class="btn btn-default " value="60分钟"
                                           id="9"></label>
                    <label for="10"> <input type="button" name="warnButton1" class="btn btn-default" value="90分钟"
                                            id="10"></label>
                    <label for="11"> <input type="button" name="warnButton1" class="btn btn-default" value="120分钟"
                                            id="11"></label>
                    <label for="12"><input type="button" name="warnButton1" class="btn btn-default" value="180分钟"
                                           id="12"></label>
                </p>
            </div>
        </div>
    </div>
</form>

<form class="form-horizontal" role="form" ng-controller="AlarmindexController"
      ng-submit="update()" name="indexchange">
    <div class="form-group">
            <h4 class="panel-body"><span class="glyphicon glyphicon-cog">设置服务器告警指标</span></h4>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>主机名</th>
                    <th>CPU利用率<br>低级报警指标</th>
                    <th>CPU利用率<br>高级报警指标</th>
                    <th>内存利用率<br>低级报警指标</th>
                    <th>内存利用率<br>高级报警指标</th>
                    <th>硬盘利用率<br>低级报警指标</th>
                    <th>硬盘利用率<br>高级报警指标</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="alarmindex in alarmindexs.data">

                    <td>{{alarmindex.computerName}}</td>
                    <td><input type="text" style="width:60px;" ng-model="alarmindex.cpuLowalarm">%</td>
                    <td><input type="text" style="width:60px;" ng-model="alarmindex.cpuHighalarm">%</td>
                    <td><input type="text" style="width:60px;" ng-model="alarmindex.ramLowalarm">%</td>
                    <td><input type="text" style="width:60px;" ng-model="alarmindex.ramHighalarm">%</td>
                    <td><input type="text" style="width:60px;" ng-model="alarmindex.diskLowalarm">%</td>
                    <td><input type="text" style="width:60px;" ng-model="alarmindex.diskHighalarm">%</td>

                </tr>
                </tbody>
            </table>
            <h4 class="panel-body"><span class="glyphicon glyphicon-cog">设置数据库告警指标</span></h4>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>数据库名</th>
                    <th>数据库连接数<br>低级报警指标</th>
                    <th>数据库连接数<br>高级报警指标</th>
                    <th>数据库容量<br>低级报警指标</th>
                    <th>数据库容量<br>高级报警指标</th>
                    <th>数据库内存<br>低级报警指标</th>
                    <th>数据库内存<br>高级报警指标</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="alarmindex in alarmindexs.data">

                    <td>{{alarmindex.databaseName}}</td>
                    <td><input type="text" style="width:60px;" ng-model="alarmindex.linkNumbLowalarm">%</td>
                    <td><input type="text" style="width:60px;" ng-model="alarmindex.linkNumbHighalarm">%</td>
                    <td><input type="text" style="width:60px;" ng-model="alarmindex.databaseSizeLowalarm">%</td>
                    <td><input type="text" style="width:60px;" ng-model="alarmindex.databaseSizeHighalarm">%</td>
                    <td><input type="text" style="width:60px;" ng-model="alarmindex.databaseRamLowalarm">%</td>
                    <td><input type="text" style="width:60px;" ng-model="alarmindex.databaseRamHighalarm">%</td>

                </tr>
                </tbody>
            </table>

            <div class="row">
                <div class="col-md-3">
                    <button type="submit" class="btn btn-primary btn-lg">修改</button>
                </div>
            </div>
        </div>
    </div>
</form>


