


<div class="table-responsive" ng-controller="AlarmController" >
    <h2 class="sub-header">报警查询<div class="row col-sm-2">
        <input type="text" class="form-control col-lg-1" placeholder="查找..." ng-model="searchAlarmText.$">
    </div></h2>
    <table class="table table-striped"  onload="setTimeout('alarmGetData()',20000)">
        <thead>
        <tr>
            <th>主机名</th>
            <th>报警时间</th>
            <th>报警信息</th>
            <th>报警级别</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="alarm in alarms.data | filter:searchAlarmText"
            ng-class="{alarmdanger:alarm.alarmLevel == 1, alarmwarning:alarm.alarmLevel == 0}">
            <td>{{alarm.computerName}}</td>
            <td>{{alarm.alarmTime |date: 'yyyy-MM-dd HH:mm' }}</td>
            <td>{{alarm.alarmMessage}}</td>
            <td>{{alarm.alarmLevel}}</td>
        </tr>
        </tbody>
    </table>
</div>

