
 我是统计界面


 <div class="table-responsive">
     <table class="table table-striped">
         <thead>
         <tr>
             <th>序号</th>
             <th>电脑名</th>
             <th>电脑IP信息</th>
             <th>电脑系统信息</th>
             <th>电脑CPU信息</th>
             <th>电脑RAM信息</th>
         </tr>
         </thead>
         <tbody>
         <tr ng-repeat="computer in computers.data">
             <td>{{computer.computerId}}</td>
             <td>{{computer.computerName}}</td>
             <td>{{computer.computerIp}}</td>
             <td>{{computer.computerOs}}</td>
             <td>{{computer.computerCpu}}</td>
             <td>{{computer.computerRam}}</td>
         </tr>
         </tbody>
     </table>
 </div>
