<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Charts</title>
    <link rel="stylesheet" href="../lib/angular-chart/dist/angular-chart.css">
    <link rel="stylesheet" href="../lib/angular-chart/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../lib/angular-chart/bower_components/rainbow/themes/github.css">
    <link rel="stylesheet" href="../lib/bootstrap-3.2.0-dist/css/bootstrap.min.css">

    <script src="../lib/angular-chart/bower_components/angular/angular.min.js"></script>
    <script src="../lib/angular-chart/bower_components/Chart.js/Chart.js"></script>
    <script src="../lib/angular-chart/dist/angular-chart.js"></script>
    <script src="../controllers/LinesChart.js"></script>
</head>
<body ng-app="LinesChart" id="top">
<div class="container-fluid">
    <div class="row">
		<div class="col-lg-6 col-sm-12 ng-scope" id="container-cpu" ng-controller="CPUTicksCtrl">
			<div class="panel panel-default">
				<div class="panel-heading">CPU使用记录</div>
				<div class="panel-body">
					<div class="chart-container">
						<canvas width="523" height="261" style="width: 523px; height: 261px;" class="chart chart-line chart-xl ng-isolate-scope" data="data" options="options" labels="labels"></canvas>
					</div>
				</div>
			</div>
		</div>

        <div class="col-lg-6 col-sm-12 ng-scope" id="container-ram" ng-controller="RAMTicksCtrl">
            <div class="panel panel-default">
                <div class="panel-heading">RAM使用记录</div>
                <div class="panel-body">
                    <div class="chart-container">
                        <canvas width="523" height="261" style="width: 523px; height: 261px;" class="chart chart-line chart-xl ng-isolate-scope" data="data" options="options" labels="labels"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>