<h2 class="page-header">告警设置</h2>

<form class="form-horizontal" role="form">
    <div class="form-group">
        <div class="row">
            <h4 class="panel-body"><span class="glyphicon glyphicon-cog">设置监控选项</span></h4>

            <div>
                <p class="panel-body">
                    <label class="control-label">监控频率：</label>
                    <label for="1"> <input type="button" name="warnButton" class="btn btn-default " value="15分钟"
                                           id="1"></label>
                    <label for="2"> <input type="button" name="warnButton" class="btn btn-default" value="20分钟"
                                           id="2"></label>
                    <label for="3"> <input type="button" name="warnButton" class="btn btn-default" value="30分钟"
                                           id="3"></label>
                    <label for="4"> <input type="button" name="warnButton" class="btn btn-default" value="60分钟"
                                           id="4"></label>
                </p>
            </div>


            <div>
                <p class="panel-body">
                    <label class="control-label">连续告警：</label>
                    <label for="5"> <input type="button" name="warnButton1" class="btn btn-default " value="无"
                                           id="5"></label>
                    <label for="6"><input type="button" name="warnButton1" class="btn btn-default" value="15分钟"
                                          id="6"></label>
                    <label for="7"><input type="button" name="warnButton1" class="btn btn-default" value="20分钟"
                                          id="7"></label>
                    <label for="8"><input type="button" name="warnButton1" class="btn btn-default" value="30分钟"
                                          id="8"></label>
                    <label for="9"> <input type="button" name="warnButton1" class="btn btn-default " value="60分钟"
                                           id="9"></label>
                    <label for="10"> <input type="button" name="warnButton1" class="btn btn-default" value="90分钟"
                                            id="10"></label>
                    <label for="11"> <input type="button" name="warnButton1" class="btn btn-default" value="120分钟"
                                            id="11"></label>
                    <label for="12"><input type="button" name="warnButton1" class="btn btn-default" value="180分钟"
                                           id="12"></label>
                </p>
            </div>
        </div>


        <div class="form-group">
            <h4 class="panel-body"><span class="glyphicon glyphicon-cog">设置告警线</span></h4>

            <div class="row">
                <div class="col-md-2  ">
                    <p class="text-right"><label class="control-label">CPU使用率：</label></p>
                </div>
                <div class="col-md-2 ">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                大于
                                <span class="caret">
                                </span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>大于</li>
                                <li>小于</li>
                            </ul>
                        </div>
                        <input type="text" class="form-control"><span class="input-group-addon">%</span>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-2  ">
                    <p class="text-right"><label class="control-label">内存使用率：</label></p>
                </div>
                <div class="col-md-2 ">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                大于
                                <span class="caret">
                                </span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>大于</li>
                                <li>小于</li>
                            </ul>
                        </div>
                        <input type="text" class="form-control"><span class="input-group-addon">%</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2  ">
                    <p class="text-right"><label class="control-label">磁盘空间使用率：</label></p>
                </div>
                <div class="col-md-2 ">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                大于
                                <span class="caret">
                                </span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>大于</li>
                                <li>小于</li>
                            </ul>
                        </div>
                        <input type="text" class="form-control"><span class="input-group-addon">%</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2  ">
                    <p class="text-right"><label class="control-label">进程数：</label></p>
                </div>
                <div class="col-md-2 ">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                大于
                                <span class="caret">
                                </span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>大于</li>
                                <li>小于</li>
                            </ul>
                        </div>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>


        </div>

        <div class="form-group">
            <h4 class="panel-body"><span class="glyphicon glyphicon-cog">设置告警方式</span></h4>

           <div class="row">
               <div class="col-md-offset-1">
                <div class="checkbox-inline">
                    <label>
                        <input type="checkbox" value="">
                        手机短信</label>
                </div>

                <div class="checkbox-inline">
                    <label>
                        <input type="checkbox" value="">
                        电子邮件</label>
                </div>
               </div>
            </div>
         </div>

        <div class="row">
            <div class="col-md-3 col-md-offset-2">
                <button type="button" class="btn btn-primary btn-lg btn-block">确定</button>
            </div>
        </div>
    </div>
</form>


